.section{
      margin-left: 3%;
      margin-right: 3%;
      float: left;
      display:flex;
      /* justify-content: center;

      align-items: center; */
}
.section1{
   margin-top: 8%;
}
.firstimg{
   margin-top:3%;
   width: 50%;
   display:inline-block;
   justify-content: center;
   text-align: center;
   align-items: center;
   
}
.sacandimg{
   margin-right: 2%;
    width: 50%;
    display: inline-block;
}
.img1{
    width: 60%;
   

}
.img3{
    width: 100%;
}
.img6{
   margin-right: 6%;

}

.img2{
   margin: 0%;
   margin-top: 5%;
   width:102%;
    height: 14.3vh;
    

}
@media(max-width:100%){
    .img2{
      margin: 0%;
      padding: 0%;
      margin-top: 5%;
      width:92%;
      height: 14.3vh;

    }
}


.fasttext h2{
   letter-spacing: 4px; 
   font-family: Arial, Helvetica, sans-serif;
   margin:0%;
   font-size: 165%;
   margin-left: 4%;

}
.fasttext p{
   font-family: Arial, Helvetica, sans-serif; 
   font-size: 150% ;
   margin-top: 1%;
   color: rgba(2, 2, 2, 0.562);
   letter-spacing: 2px;
}

.storeimg{
   gap: 2%;
   margin-left: 5%;
   margin-top: 8.3%;
}

.picss{
   margin-top: 3%;
   width: 81%;
   justify-content:space-between;
   margin:0%;
   list-style: none;
   display: flex;


 }
 .section2{
    width: 50%;
  
   
 }
 .A{
   margin-top: -1.5%;
 }
 .section2 img{
   
    width:95%;
    height: 150%;
 }

 .section2 h1{
   
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
 }
 .section2 p{
    text-align: center;
    font-size: 150%;
    color: rgba(0, 0, 0, 0.548);
 }
    
 .text{
    position: absolute;
    margin-top:13%; 
 }
 
 .section3{
    width: 50%;

    
 }
 .section3 img{
    width: 175%;
    height: 100%;
    
 }
 .section3 h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    letter-spacing: 3px;
    
 }
 .section3 p{
    text-align: center;
    font-size: 200%;
    color: rgba(0, 0, 0, 0.548);
    letter-spacing: 2px;

 }
 .texes{
    margin-top: 25%;

 }
 .C{
   top:50% ;
   left:70%;
   transform: translate(0% , -16%);
   /* width:25%; */
   margin-left: 3%;
 }
 .B{
   top:50% ;
   left: 70%;
   transform: translate(0% , -21%);
   width:25%;
 }

 .section4 {
    width: 150%;
    

    
 }
 .sectionn{
 
   position: relative;
   margin-top: 6%;
 }
 .AB img{
  
    width:87%;
    height:120.5vh;
    top: 50%;
 }
 .AB{
   top:40% ;
   left:2%;
   transform: translate(0% , -37%);
   position: absolute;
  
  
   
   
   
   /* width:25%; */
 }



 .BA img{
    top:50% ;
   left: 70%;
   transform: translate(-48% , -290%);
   margin-left: 10%;
  
    position: absolute;
    
    width: 260%;
    
    
   
 }
.BA{
   top:50% ;
   left:50%;
   transform: translate(-28% , 25%);
   margin-left: 140%;
   
  
 
   
}
.ahmad{
   width: 250%;
}
 .section4 h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 2%;
    letter-spacing: 7px;
    margin-right: 5%;
  
    font-size: 240%;
    
 }
 .section4 p{
    text-align: center;
    font-size: 210%;
    color: rgba(0, 0, 0, 0.548);
    letter-spacing: 1px;

 }

 
 .section5{
  top: 50%;
  left: 40%;
  transform: translate(-4%,100%);
  
   top: 50%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
  
 }
 
 
   
 
 .footerimg{
      
     
      display: flex;
      text-align: center;
      margin-left: -4%;
     
  



      
 }
 .footerimg ul{
   list-style: none;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   

 }

 .footerimg li{
   
   width:100%;

   
 }
 .footerimg ul  img{
   width: 125%;
 }
.section5 p
{
   margin-top: 5%;
   margin-left: 4%;
   font-size: 160%;
}

.footerlogo{
   /* width: 100; */ 
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   text-align: center;
   margin-left: 6%;
   margin-top: 5%;
   margin-bottom: 4%;
  
}
.footerlogo img{
   width: 30%;
}
.footerimg3{
   margin-right: 14%;
}
.last p{
   width: 100% ;
   border: 2px solid red;
   display: flex;
 
  
}
.last{
   
    margin: 0%;
   width: 100%;
   
}


 

